* {
  transition: all 1s;
}

body {
  font-size: 1.5rem;
  padding: 10px;
  background-color: lightseagreen;
}

section {
  display: flex;
  flex-direction: row;
}

.itemList {
  display: flex;
}

img {
  width: 120px;
  height: auto;
  border: 1px solid rgb(29, 82, 140);
}

#cart {
  background-color: rgb(97, 198, 209);
}

#cart,
#items {
  width: 50vw;
}

button {
  font-size: 1.3rem;
}

h1 {
  color: #7c32ff;
}
/*selecting a tag*/

p {
  color: green;
  text-decoration: line-through;
}

/*Ids have hashtags*/
#two {
  background-color: rebeccapurple;
}

/*classes have dots*/
.example {
  border: 5px dashed purple;
  margin: 5px;
}

li {
  margin-top: 30px;
}

input {
  font-size: 1.2rem;
}
/* button {
  font-size: 1.5rem;
} */
